/*

!/.gitignore


!/.minecraft/
/.minecraft/*


!/.minecraft/serverutilities

!/.minecraft/saves
/.minecraft/saves/*

!/.minecraft/saves/m4

!/.minecraft/journeymap

!/.minecraft/visualprospecting

!/.minecraft/TCNodeTracker

!/.minecraft/schematics