/*

!/.gitignore


!/.minecraft/
/.minecraft/*


!/.minecraft/serverutilities

!/.minecraft/saves
/.minecraft/saves/*

!/.minecraft/saves/m4

!/.minecraft/journeymap

!/.minecraft/visualprospecting

!/.minecraft/TCNodeTracker

!/.minecraft/schematics

!/.minecraft/config
/.minecraft/config/*
!/.minecraft/config/dsurround

!/.minecraft/config/shaders.properties
!/.minecraft/localconfig.cfg

!/.minecraft/BotaniaVars.dat

!/.minecraft/options.txt

!/.minecraft/optionsnf.txt

!/.minecraft/servers.txt