// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.2\
// For more information, go to: http://journeymap.info/help/wiki/Options_Manager
{
  "enabled": true,
  "shape": "Rectangle",
  "position": "TopCenter",
  "timeFormat": "day_12hr",
  "showFps": true,
  "showBiome": true,
  "showTime": false,
  "showLocation": true,
  "sizePercent": 30,
  "frameAlpha": 60,
  "terrainAlpha": 60,
  "orientation": "PlayerHeading",
  "compassFontScale": 1,
  "showCompass": true,
  "showReticle": false,
  "reticleOrientation": "Compass",
  "preferredMapType": "day",
  "active": false,
  "showCaves": true,
  "fontScale": 1,
  "textureSmall": true,
  "showWaypointLabels": false,
  "locationFormatVerbose": true,
  "locationFormat": "xzyv",
  "showMobHeading": false,
  "showPlayerHeading": true,
  "showMobs": true,
  "showAnimals": false,
  "showVillagers": true,
  "showPets": false,
  "showPlayers": false,
  "showWaypoints": false,
  "showSelf": true,
  "showGrid": true,
  "entityIconSetName": "2D",
  "entityScale": 100,
  "entityBlur": true,
  "zoomLevel": 0,
  "disabled": false,
  "configVersion": {
    "major": 5,
    "minor": 2,
    "micro": 10,
    "patch": ""
  }
}