# Configuration file

~CONFIG_VERSION: rv3-beta-695-GTNH

counters {
    I:lastGridStorage=6754
    I:lastPlayer=1
}


dimensionmanager {
    I:StorageCells <
     >
}


gridstorage {
    S:1229=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:2099=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:2100=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:2101=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:6134=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:6216=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:6230=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:6237=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:6419=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOhhZwADAN9VrMUaAAAA
    S:6542=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdEj6lyPsLsHAAAC5rZDuGgAAAA==
    S:6621=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:6631=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
}


players {
    I:603f5ac4-2584-4c05-b530-0c3cbe5d88d4=0
}


