# Configuration file

~CONFIG_VERSION: rv3-beta-695-GTNH

counters {
    I:lastGridStorage=169
    I:lastPlayer=1
}


dimensionmanager {
    I:StorageCells <
     >
}


gridstorage {
    S:140=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:161=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:168=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
}


players {
    I:603f5ac4-2584-4c05-b530-0c3cbe5d88d4=0
}


