# Configuration file

~CONFIG_VERSION: rv3-beta-695-GTNH

counters {
    I:lastGridStorage=123832
    I:lastPlayer=1
}


dimensionmanager {
    I:StorageCells <
     >
}


gridstorage {
    S:100141=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdKjqlz0WIbyOAQC6SxG+GgAAAA==
    S:100142=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh3YAADAMsZj8oaAAAA
    S:103364=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdCjJ/GNUHyzHAADgQP0CGgAAAA==
    S:103367=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh3YAADAMsZj8oaAAAA
    S:103461=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOhzOcAAAgDyI4LjGgAAAA==
    S:103465=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOhzOcAAAgDyI4LjGgAAAA==
    S:103488=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOhzesAAAgD+E/6HGgAAAA==
    S:103490=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh13f////8/DACQy/4jGgAAAA==
    S:103595=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:103642=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:105018=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:105116=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:105171=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:105172=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:105300=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOj2SFn/iNGBAQDcsPWRGgAAAA==
    S:105304=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh918AAAgBdoo6BGgAAAA==
    S:105311=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:105417=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:105420=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:105475=H4sIAAAAAAAA/+NiYGAAAHg/+U4EAAAA
    S:105563=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:105731=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:105798=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOhzesAAAgD+E/6HGgAAAA==
    S:106100=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:106121=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOibeYABBAB3QZYpGgAAAA==
    S:106218=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOibzQAGAOpO4a8aAAAA
    S:106504=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOhzOcAAAgDyI4LjGgAAAA==
    S:106544=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:106712=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOg5uoABBACTyjKHGgAAAA==
    S:106733=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:106814=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:107645=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOg5uoABBACTyjKHGgAAAA==
    S:107928=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOhzesAAAgD+E/6HGgAAAA==
    S:107940=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOhzesAAAgD+E/6HGgAAAA==
    S:109209=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOhzesAAAgD+E/6HGgAAAA==
    S:110269=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOidzgAEjAwAPBLV/xoAAAA=
    S:111184=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOi5dIABBACJZ78tGgAAAA==
    S:111186=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh3YAADAMsZj8oaAAAA
    S:111755=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOizV2AAAQChvKkbGgAAAA==
    S:121810=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:121870=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:121871=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:122002=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdGhjZvUMmaDPAADn3m0OGgAAAA==
    S:122016=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOj2SFn/iNGOAQCk5EkgGgAAAA==
    S:122065=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:122167=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:122174=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdHCOmmJ2xv4AAwAdtehUGgAAAA==
    S:122177=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:122340=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:122345=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOjNdmAAAQC8eUhKGgAAAA==
    S:122459=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOhzesAAAgD+E/6HGgAAAA==
    S:122540=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:122707=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdGibwgAGALYlTIoaAAAA
    S:122713=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh9xAAGAPHcnlgaAAAA
    S:1229=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:122944=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh3YAADAMsZj8oaAAAA
    S:122995=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:123001=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdMiyLZEWvbyDAQAVYpfPGgAAAA==
    S:123038=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdGjqiPxhcySIAQAG2WtZGgAAAA==
    S:123769=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:123794=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh3YAACHgYAx1Y6ZhoAAAA=
    S:123799=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOitOcAAAgAkz4H2GgAAAA==
    S:123819=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:123821=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:123822=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:123823=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:123826=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:123827=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:123828=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:123829=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:123830=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:123831=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13089=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13090=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13091=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13092=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13093=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13094=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13095=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13096=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13099=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13100=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13101=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13102=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:13103=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:2099=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:2100=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:2101=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23272=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23306=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23365=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23380=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23388=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23448=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23701=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23702=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23703=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23704=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23705=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23707=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23708=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23709=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:23710=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:29909=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:29913=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:6419=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOibzQAGAOpO4a8aAAAA
    S:65262=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdGhfGcdTsXQBAwAtzhmjGgAAAA==
    S:66760=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:66761=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:66762=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:66763=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:66765=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:66766=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:66768=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:66769=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:66770=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:66771=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:66772=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:66773=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:70716=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:75973=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:86088=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:91380=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh8+LFBS+QxAwBhVucjGgAAAA==
    S:91382=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOi3/w8EfxgA5EmbJhoAAAA=
    S:91424=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:92778=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdGif+VM+8YscAwDfeAoSGgAAAA==
    S:92783=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh3YAADAMsZj8oaAAAA
    S:92812=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh918AAAgBdoo6BGgAAAA==
    S:93832=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdGh93SU6SVCYAQAhDIpiGgAAAA==
    S:93838=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh3YAADAMsZj8oaAAAA
    S:93889=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdKjPvpF4fhETAwCEtYVkGgAAAA==
    S:93897=H4sIAAAAAAAA/+NiYGBj4E6tKClKdM1LLUqvdOh3YAADAMsZj8oaAAAA
}


players {
    I:603f5ac4-2584-4c05-b530-0c3cbe5d88d4=0
}


